<nb-card>
  <nb-card-header>Task name</nb-card-header>
  <nb-card-body>
    <input #name nbInput placeholder="Name">
  </nb-card-body>
  <nb-card>
    <nb-card-header>Select step</nb-card-header>
    <nb-card-body>
      <nb-select class="w-100" placeholder="todo, in progress" [formControl]="form">
        <nb-option *ngFor="let item of cardCollectorModels" [value]="item">{{item.title}}</nb-option>
      </nb-select>
    </nb-card-body>
  </nb-card>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
    <button nbButton status="success" (click)="submit(name.value)">Submit</button>
  </nb-card-footer>
</nb-card>
