<div cdkDropListGroup class="cards-list-container">
  <div *ngFor="let row of allLists" class="card">
    <h2 class="p-3">{{row.title}}</h2>
    <div
      cdkDropList
      [cdkDropListData]="row.title"
      class="card-list"
      (cdkDropListDropped)="drop($event)">
      <div class="card-box" *ngFor="let item of allCards.get(row.title)" cdkDrag>{{item.title}}</div>
    </div>
  </div>
</div>
<div class="add">
  <button mat-fab (click)="addCard()">
    <mat-icon>add</mat-icon>
  </button>
</div>
